<!DOCTYPE html>
<html lang="fr, en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta
		http-equiv="x-ua-compatible" content="ie=edge">
		<!-- Lien vers l'url complète du site -->
		<link rel="canonical" href="">

		<meta name="robots" content="all">

		<title>
			{% block title %}Juliette Crouzet - Web Developer - Digital Designer
			{% endblock %}
		</title>
		<meta name="description" content="Portfolio of Juliette Crouzet, Digital Developer/Designer in Haute-Loire/France. A French with a past in Art History and Heritage preservation.">
		<meta name="keywords" content="Juliette Crouzet, Semichon, Developer, Digital Designer, France, French, Advertising, Graphic Designer, Design, Art Director, Webbdesigner, Grafisk Designer, Photoshop, UI, Media, Interactive, Interaction, Creative, User Experience, Illustration, Visual, Online, Experience, Application, Mobile, Marketing, Portfolio, Freelance">

		<meta
		property="og:type" content="website">
		<!-- url complète du site -->
		<meta property="og:url" content="">
		<meta property="og:title" content="Juliette Crouzet - Web Developer - Digital Designer">
		<meta property="og:description" content="Portfolio of Juliette Crouzet, Digital Developer/Designer in Haute-Loire/France. A French with a past in Art History and Heritage preservation.">


		{% block stylesheets %}
			<link href="{{ asset('css/stylesheet.css') }}" rel="stylesheet">
			<link href="{{ asset('css/reset.css') }}" rel="stylesheet">
		{% endblock %}

	</head>

	<body>
		{% block header %}
			{{ include('default/_header.html.twig') }}
		{% endblock %}

		{% block body %}
			{{ include('default/_leftside.html.twig') }}
		{% endblock %}

		{% block footer %}
			{{ include('default/_footer.html.twig') }}
		{% endblock %}

		{% block javascripts %}
		{% endblock %}
	</body>

</html>
